<div class="login-container">
  <img id="logo" src="../../../assets//pokemon-logo.png" alt="" srcset="" />

  <div class="login-card">
    <form>
      <div>
        <input
          [(ngModel)]="trainer.username"
          type="text"
          placeholder="Who are you?"
          name="username"
          required
        />
        <button type="button" (click)="onUsernameEntered()">Login</button>
      </div>
    </form>
    <img id="logo-input" src="https://i.kym-cdn.com/editorials/icons/mobile/000/000/371/Untitled-1.jpg" />
  </div>
</div>
